@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');
main {
    display: flex;
    flex-direction: row; /** default **/
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch; /** default **/
    margin: 0px;
    padding: 0px;
    outline: none;
    height: 100%;
    width: 100%;

    background-color: #D2EBE3;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
#column1 {
    background-color: rgb(216, 138, 138);
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch; /** default **/

    font-family: 'League Spartan', sans-serif;
    font-weight: 500;

    width: 186px;

}

#column2 {
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch; /** default **/
    gap: 30px;

    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    width: 525px;
}

#column3 {
    background-color: rgb(206, 206, 104);
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch; /** default **/

    font-family: 'League Spartan', sans-serif;
    font-weight: 500;

    width: 186px;
}
.column2ItemWindow {
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch; /** default **/
    gap: 10px;
    
    width: 525px;
    height: auto;


}
.column2Item {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch; /** default **/
    gap: 10px;
    
}
.column2Posts {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse; /** default **/
    flex-wrap: nowrap;
    align-items: center; /** default **/
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#Post {
    background-color: #F5F5F5;
    width: 462px;
    height: auto;
    border-radius: 20px;
    padding-left: 15px;
    
    
}
#ScrollContent {
    overflow: auto;
    height: 120px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}
.column1Item {
    /* align-self: auto; */

}

.PostHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50px;
    gap: 8px;
    margin-top: 10px;

}

.UserPhoto {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    /* margin-top: 20px; */

}
.NameHeader {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4px;
}
#NickName {
    margin: 0%;

    Font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}
#Time {
    margin:0%;

    Font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #A1A1A1;
}

textarea {
    max-width: 513px;
    min-width: 513px;
    height: 80px;
    line-height: 1.5;
    border: none;
    outline: none;
    padding-left: 10px;

    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1rem;

}
input {
    max-width: 525px;
    line-height: 2.5;
    border-radius: 20px 20px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-left: 10px;

    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
button {
    align-self: flex-end;
    width: 78px;
    height: 30px;
    padding: 7px 24px 6px 23px;
    border-radius: 20px;
    background-color: #989872;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;

    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
}
button:hover {
    background: #BDBD8E;
    transform:scale(1.05,1.05);

    /* background: rgba(0,0,0,0);
    color: #000000;
    box-shadow: inset 0 0 0 3px #989872; */
}
button:active {
    background: #BDBD8E;
}
::placeholder {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

