@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;800&display=swap');
main {
    margin: 0px;
    padding: 0px;
    outline: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #D2EBE3;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    
}
.form1 {
    display: flex;
    flex-direction: column; /** default **/
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; /** default **/
    background-color: white;
    width: 400px;
    height: 290px;
    padding: 20px;
    border-radius: 20px;
    gap:10px;
}
.items1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 17px;
}
h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    color:#73744A;
    text-align: center;
}
#custom-button {
    height: 83px;
    width: 83px;
    padding: 10px;
    color: #A1A1A1;
    background: #F5F5F5;

    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.Nickname {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#name, #surname {
    padding-left: 15px;
    background-color:#F5F5F5;
    border-radius: 20px;
    height: 35px;
    width: 284px;
    border:none;
}
#email, #password {
    padding-left: 15px;
    background-color:#F5F5F5;
    border-radius: 20px;
    height: 35px;
    width: 390px;
    border:none;
}

#signup {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    width: 131px;
    height: 29px;
    border-radius: 20px;
    cursor: pointer;
}
#signup:hover {
    transform:scale(1.05,1.05);
}
#account {
    color:  #A1A1A1;
    font-size: 14px;
}
.itemsLast {
    display: flex;
    flex-direction: row;
}

#goto {
    margin-top: 10px;
    height: 18px;
    width: 50px;
    border: none;
    background-color: white;
    color: #73744A;
    font-weight: 600;
}
#goto:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* #custom-button:hover {
    background-color: rgb(255, 255, 255);
}
#custom-text {
    margin-left: 10px;
    color: #aaa;
} */